body {
	color: #6a6c6f;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

h5{
	padding: .25em 0 .25em .75em;
	border-left: 6px solid #ccc;
}

h3 {
	color: inherit;
    font-family: inherit;
}

h2 {
	color: inherit;
    font-family: inherit;
}

label {
    font-size: 15;
}

label.template_name {
    font-size: 14;
}

.cc-main{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: -1px;
    padding: 15px;
    width: 100%;
    }

.cc-title{
    font-size: 14pt;
    color: inherit;
    font-family: inherit;
    }

.cc-sub-title{
    margin: 0 0 1em;
    padding: 0.5em;
    border-left: 7px solid #059ee8;
    border-bottom: 1px dashed #059ee8;
    font-size: 1.143em;
    font-weight: bold;
    width:40%;
}

.cc-class table{
	border-collapse: collapse;
	border: 1px solid #000000;
	width:45%;

}

.cc-class th {
	//background-color:#E0FFFF;
	color: #000000;
	font-size: 10pt;
	font-weight: normal;
	padding: 1px 4px;
	border: 1px solid;
}

.cc-class td {
	border: 1px solid;
	font-weight: normal;
	padding: 1px 4px;
}

.cc-conf table {
    width:90%;
}

.cc-conf th {
    width:45%;
}

.cc-menu{
    font-size: 8pt;
    line-height: 120%;
    margin: 0;
    left: 0;
    position: absolute;
    top: 20px;
    width: 170px;
    border-right: solid 1px #DCDCDC;
    height:100%;
    float : left;

    }
button.cc-menu-change{
	width: 217px;
	border: solid 1px #6a6c6f;
	background-color: #FFFFFF;
	color: #6a6c6f;
}
.cc-main .padding {
    padding: 10px 10px 0px 15px;
}

.cc-desc {
	width: 100%;
    border: solid 1px #DCDCDC;
    padding: 30px 30px 30px 10px;
}

.cc-desc2 {
    width:100%;
    border: dashed 1px #DCDCDC;
    padding: 30px 30px 30px 10px;
}

.cc-checkbox {
    width:90%;
    border: dotted 1px #C0C0C0;
    padding: 10px 10px 10px 10px;
}

.cc-checkbox-var {
    width:100%;
    background-color:#F5F5F5;
}

.cc-select{
    width:600px;
    padding: 30px;
}

.menu-menu{
    background-color: #f8f5f0;
}

#req{
	color:crimson;
}

.button_center{
	text-align:center;
	margin-top: 40px;
}

.button_center2{
	text-align:center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button_left{
	text-align:left;
	margin-top: 40px;
}

.btn_group_top{
	text-align:right;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn_group_bottom{
	text-align:right;
	margin-top: 0px;
	margin-bottom: 20px;

}

.pull_100 {
	width: 100px;
}

.right {
	float:right;
}

.button_button{
	text-align:center;
	margin-top: 40px;
}

.delete_btn{
	float:right;
}

.back_btn{
	float:left;
}

.cc-login_user{
	width:150px;
    float:right;
    color:white;
    font-size: 8pt;
    vertical-align:middle;
}

.cc-login{
    width: 400px;
    height:250px;
/*    border: 1px solid #DCDCDC; */
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
    padding:15px 10px 10px 10px;
    text-align: left;
    font-size: 8pt;
/*	background:#059ee8; */
}

.login-body {

}

.width-5px {
	width:5%;
}

.width-10px {
	width:10%;
}

.width-30px {
	width:30%;
}

.width-40px {
	width:40%;
}

.small-plldown {
	width:100%;
    float:right;
}

.img-wizard {
	width: auto;
	max-height: 35px;
}

.img-wizard-class {
	padding-bottom:15px;
}

.vertical_middle {
    vertical-align: middle;
}

/* ス{ズスススプ抵ソス */
.btn-wizard {
    background-color: #595959;
    border-color: #595959;
    color: #FFFFFF;
/*    margin-left: 50px; */
/*    margin-right: 50px; */
}

/* スwスbス_ス[スフ固抵ソス */
#header-fixed{
    position: fixed;            /* スwスbス_ス[スフ固抵ソス */
    top: 0px;                   /* スハ置(スス0px) */
    left: 0px;                  /* スハ置(スE0px) */
    width: 100%;                /* スススス100%ス@*/
    height: 46px;              /* スcスス140px */
	background:#059ee8;
    vertical-align: middle;
}

.navbar {
    background: #059ee8 none repeat scroll 0 0;
}
.aside {
    backface-visibility: hidden;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    bottom: 0;
    height: 100%;
    left: 0;
    margin-top: 83px;
    position: absolute;
    top: 0;
    width: 220px;
    z-index: 116;
}

.aside-inner {
    padding-top: 10px;
    height: 100%;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.aside-inner a{
	display: block;
	padding: 50px;
}

#var-menu {
	padding-left: 20px;
}

.content-wrapper {
    padding: 20px;
    width: 100%;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

section {
    margin-left: 220px;
    height: 100%;

}
.wrapper {
    height: auto;
    min-height: 100%;
    width: 100%
}

.header {
    background: #059ee8 none repeat scroll 0 0;
    border-bottom: 1px solid gainsboro;
    line-height: 40px;
    margin-bottom: 20px;
}

.var-heading{
	color: #919da8;
	font-size:15px;
	padding: 10px 15px 10px 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.error_message{
	color: #CD5C5C;
}

ul.errorlist li{
	color: #CD5C5C;
}

/* breadcrumb */
.breadcrumb {
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-radius: 0px;
	border: none;
}

.discription {
	color: #c0c0c0;
	font-size: 11px;
}
