{% csrf_token %}
	{% include "gui_app/includes/message.html" %}
	{{ form.non_field_errors }}
	<div class="cc-select">
	    <div class="form-group">
	    	<label><span id="req">*</span>Project name</label>
	        <input id="name" name="name" type="text" class="form-control" value="{{ project.name }}">
	        {{ form.name.errors }}
	    </div>
	    <div class="form-group">
	    	<label>Description</label>
	        <textarea id="description" name="description" class="form-control">{{ project.description }}</textarea>
	        {{ form.description.errors }}
	    </div>
	    {% if save %}
		<div class="button_center">
			<button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;　save</button>
		</div>
		{% endif %}
    </div>