{% extends "gui_app/base.html" %}
{% block title %}Application Edit{% endblock %}
{% block headerscript %}
<script type="text/javascript" src="/static/gui_app/js/file.js"></script>
{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li><a href="{% url 'app:applicationList' %}">Application management</a></li>
	{% if app.id %}
	<li><a href="{% url 'app:applicationDetail' app.id %}">Application Detail</a></li>
	{% endif %}
	<li>Application Edit</li>
{% endblock %}
{% block content %}
<div class="cc-title">Application Edit</div>
	{% if app %}
		<form method="post" action="{% url 'app:applicationEdit' app.id %}">
			<input id="id" type="hidden" name="id" value="{{ app.id }}">
			<input id="history_id" type="hidden" name="history_id" value="{{ app.history_id }}">
			{% include "gui_app/application/includes/formApplication2.html" %}
		</form>
	{% else %}
		This is no Application.
	{% endif %}
{% endblock %}

{% block bodyscript %}{% endblock %}