{% extends "gui_app/base.html" %}
{% block title %}Application History Create{% endblock %}
{% block headerscript %}
<script type="text/javascript" src="/static/gui_app/js/file.js"></script>
{% endblock %}
{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li><a href="{% url 'app:applicationList' %}">Application Management</a></li>
	<li>Application Create</li>
{% endblock %}
{% block content %}
<div class="cc-title">Application History Create</div>
<br>
	<form method="post" action="{% url 'app:applicationHistoryCreate' history.application_id %}">
		<input id="application_id" type="hidden" name="application_id" value="{{ history.application_id }}">
		{% include "gui_app/application/includes/formApplicationHistory.html" %}
	<div class="button_center">
		<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;save</button>
	</div>
	</form>
{% endblock %}

{% block bodyscript %}{% endblock %}