{% csrf_token %} {% include "gui_app/includes/message.html" %}
<input id="project_id" type="hidden" name="project_id" value="{{ env.project_id }}">
<input id="auth_token" type="hidden" name="auth_token" value="{{ env.auth_token }}">
<script>
$(function(){
  $("#blueprint").change(function () {
    //alert($(this).val());
    var param = {blueprint:$(this).val()};
    if ($(this).val() === '' || param === null) {
    	$('#template_parameters-div').html('');
    } else {
	    $.get('ajax', param, function(data) {
			$('#template_parameters-div').html(data);
	    });
	}
  });
});
</script>
<div class="cc-select">
	<div class="form-group">
		<label><span id="req">*</span>Environment name</label> <input
			id="name" name="name" type="text" class="form-control"
			value="{{ env.name }}">
			{{ form.name.errors }}
	</div>
	{% if create %}
	{% if systems %}
	<div class="form-group">
		<label><span id="req">*</span>System</label> <select
			class="form-control" name="system_id" id="system_id">
			<option value=""></option>
			{% for s in systems %}
				<option value="{{ s.id }}" {% if env.system_id == s.id %} selected="selected"{% endif %}>
					{{ s.name }}
				</option>
			{% endfor %}
		</select>
		{{ form.system_id.errors }}
	</div>
	{% endif %}
	{% endif %}

	{% if create %}
	<div class="form-group">
		<label><span id="req">*</span>Cloud priority</label>
		<div class="input-group">
			<span id="sizing-addon2" class="input-group-addon">1.</span>
			<select class="form-control" name="candidates_attributes_1" id="candidates_attributes_1">
				<option value=""></option>
				{% for c in clouds %}
					<option value="{{ c.id }}" {% if c.id|add:"0" == env.candidates_attributes_1|add:"0"  %} selected="selected"{% endif %}>
					{{ c.name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="input-group">
			<span id="sizing-addon2" class="input-group-addon">2.</span>
			<input type="hidden" id="candidates_attributes_2" name="candidates_attributes_2" value="{{ env.candidates_attributes_2 }}">
				<select class="form-control" name="candidates_attributes_2" id="candidates_attributes_2">
					<option value=""></option>
					{% for c in clouds %}
						<option value="{{ c.id }}" {% if c.id|add:"0"  == env.candidates_attributes_2|add:"0"  %} selected="selected"{% endif %}>
						{{ c.name }}
						</option>
					{% endfor %}
				</select>
		</div>
		<div class="input-group">
			<span id="sizing-addon2" class="input-group-addon">3.</span>
			<input type="hidden" id="candidates_attributes_3" name="candidates_attributes_3" value="{{ env.candidates_attributes_3 }}">
			<select class="form-control" name="candidates_attributes_3" id="candidates_attributes_3">
				<option value=""></option>
				{% for c in clouds %}
					<option value="{{ c.id }}" {% if c.id|add:"0"  == env.candidates_attributes_3|add:"0"  %} selected="selected"{% endif %}>
					{{ c.name }}
					</option>
				{% endfor %}
			</select>
		</div>
		{{ form.candidates_attributes_1.errors }}
		{{ form.candidates_attributes_2.errors }}
		{{ form.candidates_attributes_3.errors }}
	</div>

	{% if systems %}
	<div class="form-group">
		<label><span id="req">*</span>Blueprint&nbsp;:&nbsp;version</label>
		<select class="form-control" name="blueprint" id="blueprint">
			<option value=""></option>
			{% for b in blueprints %}
			<option value="{'id': {{ b.id }}, 'version': {{ b.version }}}" {% ifequal b.id env.blueprint_id %}{% ifequal b.version env.version %} selected="selected"{% endifequal %}{% endifequal %}>
				{{ b.name }}&nbsp;:&nbsp;{{ b.version }}
			</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}
	{% endif %}

	<div class="form-group">
		<label>template_parameters</label>
		<div id="template_parameters-div"></div>
		{% if blueprints %}
			{% include "gui_app/environment/environmentAjaxBlueprint2.html" %}
		{% endif %}
		{{ form.template_parameters.errors }}
	</div>
	<div class="form-group">
		<label>user_attributes</label>
		<input type="file" onchange="read(this, 'user_attributes', 'user_output')" accept="application/json"  />
		<div id="user_output" class="col-md-10 error_message"></div>
		<textarea id="user_attributes" name="user_attributes" class="form-control" cols="80" rows="20" wrap="off" onchange="json_check('user_attributes', 'user_output')">{{ env.user_attributes }}</textarea>
		{{ form.user_attributes.errors }}
	</div>

	<div class="form-group">
		<label>Description</label>
		<textarea id="description" name="description" class="form-control">{{ env.description }}</textarea>
		{{ form.description.errors }}
	</div>
	{% if save %}
	<div class="button_center">
		<button class="btn btn-success" type="submit">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;save
		</button>
	</div>
	{% endif %}
