{% extends "gui_app/base.html" %}
{% block title %}File Upload Test{% endblock %}
{% block headerscript %}{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>《Sample》 Management</li>
{% endblock %}
{% block content %}
{% block bodyscripttop %}

<script src="/javascripts/ajaxfileupload.js" type="text/javascript"></script>
<script>

/*
//FormData に対応している
if(window.FormData){
	alert("FormData に対応している");
}else{
	alert("FormData に対応していない");
}
*/

$(document).ready(function() {
  $('#upload_form').submit(function(){
    var $this = $(this);

    $.ajaxFileUpload({
      url: $this.attr('action'),
      secureuri:false,
      fileElementId: 'icon_field',
      dataType: 'json',
      success: function (obj, status) {
        if (obj.success) {
          $('#icon_container').find('img').attr('src', '/icon/' + obj.key);
        } else if(obj.error && obj.message){
          alert(obj.message);
        }
        $this.find('input:file').bind('change', triggerUpload);
      },
      error: function (data, s, e) {
        alert('Sorry, an error occured.');
      }
    });
    return false;
  });

  $('#icon_field').change(triggerUpload);
});

function triggerUpload() {
  $('#upload_form').trigger('submit');
}
</script>

</script>
{% endblock %}

<form action="/profile/icon/upload/" enctype="multipart/form-data" id="upload_form" method="post">
 <input type="file" name="icon" id="icon_field"/>
</form>

<div id="icon_container">
 <img src="default_icon.gif" alt="icon" />
</div>

{% endblock %}

{% block bodyscript %}{% endblock %}