{% extends "gui_app/base.html" %}
{% block title %}File Upload Test{% endblock %}
{% block headerscript %}
<script type="text/javascript" src="/static/gui_app/js/file.js"></script>
{% endblock %}
{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>《Sample》 Management</li>
{% endblock %}
{% block content %}
{% block bodyscripttop %}{% endblock %}


  <div class="cc-title">File Upload Test</div>
	<br>

	<input type="file" onchange="read(this)" accept="application/json"  />

	<hr />
	<div id="output" class="col-md-10 error_message"></div>
	<textarea id="jsontext" cols="80" rows="20" wrap="off" onchange="json_check()"></textarea>


{% endblock %}

{% block bodyscript %}{% endblock %}