{% extends "gui_app/base.html" %}
{% block title %}File Upload Test{% endblock %}
{% block headerscript %}{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>《Sample》 Management</li>
{% endblock %}
{% block content %}
{% block bodyscripttop %}
<script>

function read (ele) {

	alert("きた１");
    if (!ele.files.length) return; // ファイル未選択

	alert("きた２");
    var file = ele.files[0];
	alert("きた２.5");

	var fr = new FileReader();
	fr.readAsText(file);  // ファイルをテキストとして読み込む
	alert("きた2.6");
	alert(typeof(fr.result))
	if (!isJson(fr.result)){
		alert("きた2.9");
		return ;
	}



    alert("きた４" + isJson(fr.result));

    fr.onload = function () {
        document.getElementById('jsontext').value = fr.result;  // 読み込み結果をtextareaに
    };

    alert("きた５")
    fr.readAsText(file);  // ファイルをテキストとして読み込む
}

function json_check (){

	target = document.getElementById("output");

	if(isJson(document.getElementById("jsontext").value)){
		alert("きた6")
		target.innerHTML = "きた";  // 読み込み結果をerror_mesに
	} else {
		alert("きてない7")
		target.innerHTML = "きてない not";  // 判定結果を結果をerror_mesに
	}
	alert("おわり8")

	return ;
}

var isJson = function(arg){

    arg = (typeof(arg) == "function") ? arg() : arg;
    if(typeof(arg) != "string"){return false;}
    try{arg = (!JSON) ? eval("(" + arg + ")") : JSON.parse(arg);return true;}catch(e){return false;}
};

</script>
{% endblock %}


  <div class="cc-title">File Upload Test</div>
	<br>

	<input type="file" onchange="read(this)" accept="application/json"  />

	<hr />
	<div id="output" class="col-md-10 error_message"></div>
	<textarea id="jsontext" cols="80" rows="20" wrap="off" onchange="json_check()"></textarea>


{% endblock %}

{% block bodyscript %}{% endblock %}