{% extends "gui_app/base.html" %}
{% block title %}File Upload Test{% endblock %}
{% block headerscript %}{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>《Sample》 Management</li>
{% endblock %}
{% block content %}
{% block bodyscripttop %}
<script>

function read (ele) {
	var isJson = function(arg){

		alert("isjson")
	    arg = (typeof(arg) == "function") ? arg() : arg;
	    if(typeof(arg) != "string"){return false;}
	    try{arg = (!JSON) ? eval("(" + arg + ")") : JSON.parse(arg);return true;}catch(e){return false;}
	}

	alert("きた１");
    if (!ele.files.length) return; // ファイル未選択

	alert("きた２");
    var file = ele.files[0];
	alert("きた２.5");

	var fr = new FileReader();
	fr.readAsText(file);  // ファイルをテキストとして読み込む
	alert("きた2.6");

	if (!isJson(fr.result)){
		alert("result:"+isJson(fr.result));
		return ;
	}

    alert("きた４");

    fr.onload = function () {
        document.getElementById('text').value = fr.result;  // 読み込み結果をtextareaに
    };

    alert("きた５")
    fr.readAsText(file);  // ファイルをテキストとして読み込む
}


</script>
{% endblock %}


  <div class="cc-title">File Upload Test</div>
	<br>

	<input type="file" onchange="read(this)" accept="application/json"  />

	<hr />
	<div id="error_mes"></div>
	<textarea id="text" cols="80" rows="20" wrap="off" onchange="json_check"></textarea>


{% endblock %}

{% block bodyscript %}{% endblock %}