{% extends "gui_app/base.html" %}
{% block title %}File Upload Test{% endblock %}
{% block headerscript %}{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>《Sample》 Management</li>
{% endblock %}
{% block content %}
{% block bodyscripttop %}
<script>

function read (ele) {

    if (!ele.files.length) return; // ファイル未選択

    var file = ele.files[0];
	var fr = new FileReader();

    fr.onload = function () {
    	if (!isJson(fr.result)){
    		return ;
    	}
        document.getElementById('jsontext').value = fr.result;  // 読み込み結果をtextareaに出力
    };
    fr.readAsText(file);  // ファイルをテキストとして読み込む
};

function json_check (){

	target = document.getElementById("output");

	if(isJson(document.getElementById("jsontext").value)){
		alert("きた6")
		target.innerHTML = "きた";  // 読み込み結果をerror_mesに
	} else {
		alert("きてない7")
		target.innerHTML = "きてない not";  // 判定結果を結果をerror_mesに
	}
	alert("おわり8")

	return ;
}

var isJson = function(arg){

    arg = (typeof(arg) == "function") ? arg() : arg;
    if(typeof(arg) != "string"){return false;}
    try{arg = (!JSON) ? eval("(" + arg + ")") : JSON.parse(arg);return true;}catch(e){return false;}
};

</script>
{% endblock %}


  <div class="cc-title">File Upload Test</div>
	<br>

	<form method="post" action="{% url 'app:testFileInput11' %}">
	{% csrf_token %}
		<input type="file" onchange="read(this)" accept="application/json"  />

		<hr />
		<div id="output" class="col-md-10 error_message"></div>
		<textarea id="jsontext" cols="80" rows="20" wrap="off" onchange="json_check()"></textarea>
		<div class="button_center">
		<button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'app:testFileInput11_download' %}'" style="float:right">
    		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;download
    	</button>

		<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;save</button>
		</div>
	</form>

{% endblock %}

{% block bodyscript %}{% endblock %}