{% extends "gui_app/base.html" %}
{% block title %}File Upload Test{% endblock %}
{% block headerscript %}{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>《Sample》 Management</li>
{% endblock %}
{% block content %}
{% block bodyscripttop %}
<script>

/*
//FormData に対応している
if(window.FormData){
	alert("FormData に対応している");
}else{
	alert("FormData に対応していない");
}
*/
/*
var formData = new FormData();
formData.append("name", "macki");
alert("きた１")
$.ajax({
    url: '/sample/',
    type: 'post',
    data: formData
})
*/

function preview(ele) {
	alert("きた１")
    if (!ele.files.length) return;  // ファイル未選択

    var file = ele.files[0];
    if (!/^image\/(png|jpeg|gif)$/.test(file.type)) return;  // typeプロパティでMIMEタイプを参照

    var img = document.createElement('img');
    var fr = new FileReader();
    fr.onload = function() {
        img.src = fr.result;  // 読み込んだ画像データをsrcにセット
        document.getElementById('preview_field').appendChild(img);
    }
    alert("きた２")
    fr.readAsDataURL(file);  // 画像読み込み

    alert("きた３")
    // 画像名・MIMEタイプ・ファイルサイズ
    document.getElementById('preview_field').innerHTML =
        'file name: ' + file.name + '<br />' +
        'file type: ' + file.type + '<br />'+
        file;

    alert("きた４")
}

</script>
{% endblock %}


  <div class="cc-title">File Upload Test</div>
	<br>

	<form>
	  <input type="file" name="file" onchange="preview(this)" />
	</form>

	<hr />
	<b>preview:</b><br />
	<div id="preview_field"></div>

{% endblock %}

{% block bodyscript %}{% endblock %}