{% extends "gui_app/base.html" %}
{% block title %}File Upload Test{% endblock %}
{% block headerscript %}{% endblock %}

{% block nav %}
    {% include "gui_app/includes/nav_menu.html" %}
{% endblock %}
{% block breadcrumb %}
	<li>《Sample》 Management</li>
{% endblock %}
{% block content %}
{% block bodyscripttop %}
<script>

/*
//FormData に対応している
if(window.FormData){
	alert("FormData に対応している");
}else{
	alert("FormData に対応していない");
}
*/

var formData = new FormData();
formData.append("name", "macki");
alert("きた１")
$.ajax({
    url: '/sample/',
    type: 'post',
    data: formData
})

$("#content").on("change", 'input[type="file"]', function(e){
	alert("きた2")
	e.preventDefault();
	var formData = new FormData();
	var files = this.files;
	$.each(files, function(i, file){
		formData.append('file', file);
	});
	alert("きた3")
	$.ajax({
		url: '/sample/',
		type: 'post',
		data: formData,
		processData: false,
		contentType: false,
		dataType: 'json',
		complete: function(){},
		success: function(res) {}
	})
});

</script>
{% endblock %}


  <div class="cc-title">File Upload Test</div>
	<br>


	<form id="content" action="{% url 'app:testUpload'%}">
	  <input type="file" name="jsonFile">
	  <input type="submit" value="send">
	</form>

{% endblock %}

{% block bodyscript %}{% endblock %}