{% csrf_token %} {% include "gui_app/includes/message.html" %}
<input id="project_id" type="hidden" name="project_id"
	value="{{ cloud.project_id }}">
<div class="cc-select">
	<div class="form-group">
		<label for="Blueprint"><span id="req">*</span> Role name</label>
		<input id="name" name="name" type="text" class="form-control" value="{{role.name}}">
	</div>
	<div class="form-group">
    	<label>Description</label>
        <textarea id="description" name="description" class="form-control">{{role.description}}</textarea>
    </div>

	<div class="form-group">
		<label for="Blueprint"><span id="req">*</span> Wizard authority</label>
		<table class="table table-hover" style="width: 400px;">
			<thead>
				<tr>
					<th>No</th>
					<th>Wizard name</th>
					<th>Authority</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<th>Cloud registration</th>
					<td>
						<div class="checkbox-inline">
							<input value="baseball" name="interests" id="interest_baseball"
								type="checkbox">
						</div>
					</td>
				</tr>
				<tr>
					<th>2</th>
					<th>Make new application</th>
					<td>
						<div class="checkbox-inline">
							<input value="baseball" name="interests" id="interest_baseball"
								type="checkbox">
						</div>
					</td>
				</tr>
				<tr>
					<th>3</th>
					<th>Application environment</th>
					<td>
						<div class="checkbox-inline">
							<input value="baseball" name="interests" id="interest_baseball"
								type="checkbox">
						</div>
					</td>
				</tr>
				<tr>
					<th>4</th>
					<th>Deploying applications</th>
					<td>
						<div class="checkbox-inline">
							<input value="baseball" name="interests" id="interest_baseball"
								type="checkbox">
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="form-group">
			<label for="Blueprint"><span id="req">*</span>Function Authority</label>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>No</th>
						<th>Function name</th>
						<th>manage</th>
						<th>read</th>
						<th>create</th>
						<th>update</th>
						<th>destroy</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for item in items %}
					<tr>
						<th>{{item.no}}</th>
						<th>{{item.name}}</th>
						{% for subitem in item.items %}
						<td>
							<div class="checkbox-inline">
								<input name="{{subitem.item_name}}" id="{{subitem.item_name}}" {{subitem.checked}} type="checkbox">
							</div>
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% if save %}
			<div class="button_center">
				<button class="btn btn-success" type="submit">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;save
				</button>
			</div>
			{% endif %}
		</div>
	</div>

</div>