 <div class="panel panel-default">
	<div class="panel-heading">Blueprint History List</div>
	<div class="panel-body">
	{% if cloud.id %}
	{% if request.session.blueprint_history.manage or request.session.blueprint_history.create %}
		<button type="button" class="btn btn-primary btn-sm" onclick="location.href='#'" style="float:right">
  				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;　new
 			</button>
	{% endif %}
	{% endif %}
		{% if history_list %}
		<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>version</th>
		        <th>status</th>
		        <th>Create date</th>
		      </tr>
		    </thead>
		    <tbody>
			{% for his in history_list %}
		      <tr>
				<td><a href="{% url 'app:blueprintHistoryDetail' blueprint.id his.version %}">{{ his.version }}</a></td>
		        <td>{{ his.status }}</td>
		        <td>{{ his.created_at }}</td>
		      </tr>
			{% endfor %}
		    </tbody>
		  </table>
	{% else %}
  		There is no blueprint history.<br>
  	{% endif %}
	</div>
</div>