{{ form.non_field_errors }}
<div class="form-group">
    <label><span id="req">*</span>Environment</label>
    <select class="form-control" name="id" id="id">
        <option value=""></option>
        {% for env in list %}
            <option value="{'id': {{ env.id }}, 'name': '{{ env.name }}'}" {% ifequal env.id|add: "0" environment.id|add: "0" %} selected="selected" {% endifequal %} data-name="{{ env.name }}" data-system_id="{{ env.system_id }}" data-blueprint_history_id="{{ env.blueprint_history_id }}" data-description="{{ env.description }}" data-status="{{ env.status }}" data-ip_address="{{ env.ip_address }}" data-application_status="{{ env.application_status }}">
                {{ env.name }}
            </option>
        {% endfor %}
    </select>
    {{ form.id.errors }}
</div>
<div class="cc-desc" id="contents-reload">
    <table>
        <tr>
            <td>Environment name：</td>
            <td id="name"></td>
        </tr>
        <tr>
            <td>System：</td>
            <td id="system_id"></td>
        </tr>
        <tr>
            <td>BlueprintHistory：</td>
            <td id="blueprint_history_id"></td>
        </tr>
        <tr>
            <td>Description：</td>
            <td id="description"></td>
        </tr>
        <tr>
            <td>Status：</td>
            <td id="status"></td>
        </tr>
        <tr>
            <td>address：</td>
            <td id="ip_address"></td>
        </tr>
        <tr>
            <td>Application Status：</td>
            <td id="application_status"></td>
        </tr>
    </table>
</div>
